{% extends 'base.html.twig' %}

{% block title %}Junior-mais-pas-manchot{% endblock %}

{% block body %}
    <div class="card my-5 container" id="container">
        <h2 class="text-center card-header m-0">
            Bienvenue sur l'API du site communautaire Junior mais pas manchot !!!<br>
            <a href="http://junior-mais-pas-manchot.com/app"><code>http://junior-mais-pas-manchot.com/app</code></a>
        </h2>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 d-flex justify-content-center">
                    <img src="https://res.cloudinary.com/bsao17/image/upload/v1610179982/samples/JMPM/dev-junior_an6cc1.png" alt="logo JMPM">
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="https://jmpmapi.herokuapp.com/api"><img src="pictures/logo_apiplatform/logoapi.svg" class="w-25 btn btn-outline-secondary" alt=""></a>
        </div>
    </div>
{% endblock %}
