{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="card-header rounded-top shadow">Créer votre article sur <cite>"Junior Mais Pas Manchot"</cite></h1>
        <div class="form-group card p-3 bg-secondary text-light mb-5">


        </div>
    </div>


{% endblock %}
