{% extends 'base.html.twig' %}

{% block title %}Formulaire inscription{% endblock %}

{% block body %}
    <div class="container">
    <h1>Créer un compte utilisateur</h1>
        <div class="form-group">
            {{ form_start(formView) }}

            {{ form_label(formView) }}

            {{ form_widget(formView) }}
            <button type="submit" class="btn btn-success">S'inscrire</button>
            {{ form_end(formView) }}
        </div>
    </div>

{% endblock %}
